<!DOCType html>
{%load static%}
{%load cart_template_tags%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HollyMab</title>
     <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="">
    <!-- site metas -->
    <title>HollyMab</title>
    <meta name="keywords" content="phone, itel, tecno, samsung, iphone, injoo, xiaomi, hollymab, phones in badagry, ">
    <meta name="description" content="Buy your phone">
    <meta name="author" content="HollyMab">
    <link style="width: 70px" rel="icon" href="{%static 'images/mab.png'%}">

<!--    js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <!-- style css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
    <!-- fevicon -->
    <link rel="icon" href="{%static 'images/fevicon.png'%}" type="image/gif" />
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <!-- MDB eCommerce core CSS -->
  <link rel="stylesheet" href="{%static 'css/mdb-ecommerce.min.css'%}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{%static 'css/jquery.mCustomScrollbar.min.css'%}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
<!--        <link rel="stylesheet" href="{% static 'css/responsive.css'%}">-->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<style>
    nav{
        background:red;
    }
</style>
<body>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
       <header>
        <!-- header inner -->
        <div class="header" style="">

            <div  class="container">
                <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="{%url 'Home'%}"><img src="{%static 'images/hollymab.png'%}" alt="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu" >
                                    <ul class="menu-area-main">
                                        {%if user.is_authenticated%}
                                        <li class="active"> <a href="{%url 'Home'%}">Home</a> </li>
                                        <li> <a href="{%url 'About'%}">About</a> </li>
                                        <li><a href="{%url 'products'%}">Products</a></li>
                                        <li><a href="{%url 'staff'%}">Staff</a></li>
                                        <li><a href="{%url 'logout'%}">Logout</a></li>
                                        <li><a href="{%url 'order-summary' %}"><img src="{%static 'images/cart.png'%}" style="height:50px; width:50px"/>{{request.user|cart_item_count}}</a></li>
                                        {%else%}
                                        <li class="active"> <a href="{%url 'Home'%}">Home</a> </li>
                                        <li> <a href="{%url 'About'%}">About</a> </li>
                                        <li><a href="{%url 'products'%}">Products</a></li>
                                        <li><a href="{%url 'staff'%}">Staff</a></li>
                                        <li><a href="{%url 'login'%}">Login</a></li>
                                        <li><a class="btn btn-danger" href="{%url 'register'%}">Sign Up</a></li>
{%endif%}
                                        <!--
 <li class="last">-->
<!--                                            <a href="#"><img src="{%static 'images/search_icon.png'%}" alt="icon" /></a>-->
<!--                                        </li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-6">
                        <div  class="location_icon_bottum">
                            <ul>
                                <li><img src="{%static 'icon/call.png'%}" />(+234)8038134969</li>
                                <li><img src="{%static 'icon/email.png'%}" />sales@hollymab.com</li>
                                <li><a href="http://www.google.com/maps/place/6.427296,2.889547"><img src="{%static 'icon/loc.png'%}" />Location</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>

    {% block content%}
<div class="container"></div>
    {%endblock content%}

        <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-md-12 ">
                        <div class="footer-box">
                            <div class="headinga">
                                <h3>Address</h3>
                                <span>HollyMab Global Enterprises Badagry Roundabout, Opposite Polaris Bank plc</span>

                            </div>
                            <ul class="location_icon">
                                <li> <a href="https://web.facebook.com/ayomide.daton"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                            <div class="menu-bottom">
                                <ul class="link">
                                    <li> <a href="#">Home</a></li>
                                    <li> <a href="{%url 'About'%}">About</a></li>

                                    <li> <a href="{%url 'products'%}">Products </a></li>
                                    <li> <a href="{%url 'staff'%}">staff  </a></li>
                                    <li> <a href="{%url 'Contact'%}"> Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 All Rights Reserved. Design By<a href="#"> Dulmzone web developer</a></p>
                </div>
            </div>
        </div>


    </footer>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Javascript files-->
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'js/jquery-3.0.0.min.js'%}"></script>
    <script src="{%static 'js/plugin.js'%}"></script>
    <!-- sidebar -->
    <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{%static 'js/custom.js'%}"></script>
    <!-- javascript -->
    <script src="{%static 'js/owl.carousel.js'%}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>

        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>
</body>
</html>