<!DOCTYPE html>
<html>
<head>
    <title>Hollymab</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <link style="width: 70px" rel="icon" href="{%static 'images/mab.png'%}">

    <style>
    input{
    border: 2px solid green;
    }
    span{
        display:none;
    }
    li{
    display:none
    }
    </style>
</head>
<body class="container">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{%block content%}
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token%}
         <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
<p><label for="id_password1">Password:</label> <input type="password" name="password1" autocomplete="new-password" required id="id_password1"> <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span></p>
<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" autocomplete="new-password" required id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span></p>
         <button class="btn btn-primary">Register</button>
    </form>

{%endblock%}
</body>