<!DOCTYPE html>
<html>
<head>
    <title>Hollymab</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <link style="width: 70px" rel="icon" href="{%static 'images/mab.png'%}">

    <style>
    input{
    border: 2px solid green;
    }
    </style>
</head>
<body class="container">
{%block content%}
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token%}
        {{form.media}}
        {{form.as_p}}
        <button class="btn btn-primary">Register</button>
    </form>

{%endblock%}
</body>