{%extends 'base.html'%}
{%block content%}
{%load static%}
<div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Contact us</h2>
                    </div>
                    <form class="main_form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Your name" type="text" name="Your Name">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Email" type="text" name="Email">
                            </div>
                            <div class=" col-md-12">
                                <input class="form-control" placeholder="Phone" type="text" name="Phone">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message"></textarea>
                            </div>
                            <div class=" col-md-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->

<!--    &lt;!&ndash; footer &ndash;&gt;-->
<!--    <footer>-->
<!--        <div id="contact" class="footer">-->
<!--            <div class="container">-->
<!--                <div class="row pdn-top-30">-->
<!--                    <div class="col-md-12 ">-->
<!--                        <div class="footer-box">-->
<!--                            <div class="headinga">-->
<!--                                <h3>Address</h3>-->
<!--                                <span>Badagry Roundabout, Opposite Polaris Bank plc</span>-->
<!--                                <p>(+71) 8522369417-->
<!--                                    <br>dulmzone@gmail.com</p>-->
<!--                            </div>-->
<!--                            <ul class="location_icon">-->
<!--                                <li> <a href="https://web.facebook.com/ayomide.daton"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>-->

<!--                            </ul>-->
<!--                            <div class="menu-bottom">-->
<!--                                <ul class="link">-->
<!--                                    <li> <a href="#">Home</a></li>-->
<!--                                    <li> <a href="{%url 'About'%}">About</a></li>-->

<!--                                    <li> <a href="{%url 'products'%}">Brand </a></li>-->
<!--                                    <li> <a href="">Specials  </a></li>-->
<!--                                    <li> <a href="{%url 'Contact'%}"> Contact us</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="copyright">-->
<!--                <div class="container">-->
<!--                    <p>© 2021 All Rights Reserved. Design By<a href="#"> Dulmzone web developer</a></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--    </footer>-->
<!--    &lt;!&ndash; end footer &ndash;&gt;-->
    <!-- Javascript files-->
<!--    <script src="{%static 'js/jquery.min.js'%}"></script>-->
<!--    <script src="{%static 'js/popper.min.js'%}"></script>-->
<!--    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>-->
<!--    <script src="{%static 'js/jquery-3.0.0.min.js'%}"></script>-->
<!--    <script src="{%static 'js/plugin.js'%}"></script>-->
<!--    &lt;!&ndash; sidebar &ndash;&gt;-->
<!--    <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>-->
<!--    <script src="{%static 'js/custom.js'%}"></script>-->
<!--    &lt;!&ndash; javascript &ndash;&gt;-->
<!--    <script src="{%static 'js/owl.carousel.js'%}"></script>-->
<!--    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $(".fancybox").fancybox({-->
<!--                openEffect: "none",-->
<!--                closeEffect: "none"-->
<!--            });-->

<!--            $(".zoom").hover(function() {-->

<!--                $(this).addClass('transition');-->
<!--            }, function() {-->

<!--                $(this).removeClass('transition');-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</body>

{%endblock%}