{%extends 'base.html'%}
{%block content%}
{%load static%}

<div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <center><h2>Contact us</h2></center>
                    </div>

                    <center>
                        <div>
                            <h2>
                            <ul>
                                <li><a href="phone:+2348038134969"><img src="{%static 'icon/call.png'%}" />Call Us</a></li>
                                <li><a href="mailto: sales@hollymab.com"><img src="{%static 'icon/email.png'%}" />Mail Us</a></li>
                                <li><a href="http://www.google.com/maps/place/6.427296,2.889547"><img src="{%static 'icon/loc.png'%}" /> Live Location</a></li>
                            </ul>
                            </h2>
                        </div>
</center>
                    {%if message_name %}
                    <center>
                    <h2>Thanks {{message_name}}</h2>
                    <p>Thanks we have received your message, will respond to you shortly</p><br>
                    <button class="btn btn-primary"><a href="{%url 'Home'%}" style="color:white">Continue Shopping</a></button>
                 <br><br>   </center>
                  {%else%}
                    <form class="main_form" method="post">
                        {%csrf_token%}
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Email" type="text" name="message-name">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Name" type="text" name="message-email">
                            </div>
                            <div class=" col-md-12">
                                <input class="form-control" placeholder="Phone" type="text" name="name">
                            </div>
                            <div class="col-md-12">
                                <textarea name="message" class="textarea" placeholder="message"></textarea>
                            </div>
                            <div class=" col-md-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  {%endif%}
    <!-- end contact -->

<!--    &lt;!&ndash; footer &ndash;&gt;-->
<!--    <footer>-->
<!--        <div id="contact" class="footer">-->
<!--            <div class="container">-->
<!--                <div class="row pdn-top-30">-->
<!--                    <div class="col-md-12 ">-->
<!--                        <div class="footer-box">-->
<!--                            <div class="headinga">-->
<!--                                <h3>Address</h3>-->
<!--                                <span>Badagry Roundabout, Opposite Polaris Bank plc</span>-->
<!--                                <p>(+71) 8522369417-->
<!--                                    <br>dulmzone@gmail.com</p>-->
<!--                            </div>-->
<!--                            <ul class="location_icon">-->
<!--                                <li> <a href="https://web.facebook.com/ayomide.daton"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>-->

<!--                            </ul>-->
<!--                            <div class="menu-bottom">-->
<!--                                <ul class="link">-->
<!--                                    <li> <a href="#">Home</a></li>-->
<!--                                    <li> <a href="{%url 'About'%}">About</a></li>-->

<!--                                    <li> <a href="{%url 'products'%}">Brand </a></li>-->
<!--                                    <li> <a href="">Specials  </a></li>-->
<!--                                    <li> <a href="{%url 'Contact'%}"> Contact us</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="copyright">-->
<!--                <div class="container">-->
<!--                    <p>© 2021 All Rights Reserved. Design By<a href="#"> Dulmzone web developer</a></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--    </footer>-->
<!--    &lt;!&ndash; end footer &ndash;&gt;-->
    <!-- Javascript files-->
<!--    <script src="{%static 'js/jquery.min.js'%}"></script>-->
<!--    <script src="{%static 'js/popper.min.js'%}"></script>-->
<!--    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>-->
<!--    <script src="{%static 'js/jquery-3.0.0.min.js'%}"></script>-->
<!--    <script src="{%static 'js/plugin.js'%}"></script>-->
<!--    &lt;!&ndash; sidebar &ndash;&gt;-->
<!--    <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>-->
<!--    <script src="{%static 'js/custom.js'%}"></script>-->
<!--    &lt;!&ndash; javascript &ndash;&gt;-->
<!--    <script src="{%static 'js/owl.carousel.js'%}"></script>-->
<!--    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $(".fancybox").fancybox({-->
<!--                openEffect: "none",-->
<!--                closeEffect: "none"-->
<!--            });-->

<!--            $(".zoom").hover(function() {-->

<!--                $(this).addClass('transition');-->
<!--            }, function() {-->

<!--                $(this).removeClass('transition');-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</body>

{%endblock%}